<html>
<head>
    <title>
        {{ judul }}
    </title>
</head>
<body>
    <h1>Nama: <i>{{ nama }}</i></h1>
    <h2>NIM: {{ NIM }}</h2>
    <h2> {{ waktu }} </h2>

    <p>{{ pesan }}</p>
    <hr>

    <form action="" method="post"> {% csrf_token %}
        write something: <input type="text" name="kalimat">
        <input type="submit" value="Submit">
    </form>

    {% if kal %}
        you just entered <i> {{ kal }} </i>. <br> 
        it has {{ vowels }} vowels. <br> <br>
        <a href="{% url 'utama' %}">Refresh this page.</a>
    {% endif %}

</body>
</html>