<html>
<head>
    <title>
        {{ judul }}
    </title>
</head>
<body>
    <h1>Nama: <i>{{ nama }}</i></h1>
    <h2>NIM: {{ NIM }}</h2>
    <h2> {{ waktu }} </h2>

    <p>{{ pesan }}</p>
    <hr>

    <form action="" method="post"> {% csrf_token %}
        write something: <input type="text" name="kalimat">
        <input type="submit" value="Submit">
    </form>

    {% if kal %}
        You just entered <i> {{ kal }} </i>. <br> 
        For your information, it has : <br>
        <table>
            <tr>
               <td>Vowels: </td>    
               <td>{{ vowels }}</td>
            </tr>
            <tr>
                <td>Consonants: </td>
                <td>{{ consonants }}</td>
            </tr>
        </table>
        <a href="{% url 'utama' %}">Refresh this page.</a>
    {% endif %}

</body>
</html>